/* line 1, app/assets/stylesheets/layouts/navbar.scss */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  height: 77px;
}

/* line 5, app/assets/stylesheets/layouts/navbar.scss */
.navbar__brand {
  height: 35px;
  width: 176px;
  background-size: 114px;
}

/* line 10, app/assets/stylesheets/layouts/navbar.scss */
.navbar__mainLogo {
  background-repeat: no-repeat;
  background-image: url(/assets/logo-005687152c734cdefa8c464ef30d7fdddd1b0562fbff1ce7ced5d0d9a15c082b.png);
}

/* line 15, app/assets/stylesheets/layouts/navbar.scss */
.navbar-nav > li {
  margin-left: 20px;
}

/* line 17, app/assets/stylesheets/layouts/navbar.scss */
.navbar-nav > li:first-child {
  margin-left: 0;
}

/* line 20, app/assets/stylesheets/layouts/navbar.scss */
.navbar-nav > li .commonNavIcon {
  height: 24px;
  width: 24px;
  background-size: 22px !important;
  background-repeat: no-repeat;
}

/* line 26, app/assets/stylesheets/layouts/navbar.scss */
.navbar-nav > li .profile-icon {
  background-image: url(/assets/parts3-2160478b66a9824eced42d23dd6041b44c63ee7e58748bfd06ff890116a55335.png);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 1, app/assets/stylesheets/layouts/navbar.scss */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  height: 77px;
}

/* line 5, app/assets/stylesheets/layouts/navbar.scss */
.navbar__brand {
  height: 35px;
  width: 176px;
  background-size: 114px;
}

/* line 10, app/assets/stylesheets/layouts/navbar.scss */
.navbar__mainLogo {
  background-repeat: no-repeat;
  background-image: url(/assets/logo-005687152c734cdefa8c464ef30d7fdddd1b0562fbff1ce7ced5d0d9a15c082b.png);
}

/* line 15, app/assets/stylesheets/layouts/navbar.scss */
.navbar-nav > li {
  margin-left: 20px;
}

/* line 17, app/assets/stylesheets/layouts/navbar.scss */
.navbar-nav > li:first-child {
  margin-left: 0;
}

/* line 20, app/assets/stylesheets/layouts/navbar.scss */
.navbar-nav > li .commonNavIcon {
  height: 24px;
  width: 24px;
  background-size: 22px !important;
  background-repeat: no-repeat;
}

/* line 26, app/assets/stylesheets/layouts/navbar.scss */
.navbar-nav > li .profile-icon {
  background-image: url(/assets/parts3-2160478b66a9824eced42d23dd6041b44c63ee7e58748bfd06ff890116a55335.png);
}
